@import "tailwindcss";
@plugin "daisyui";

@font-face {
  font-family: "Digital-7";
  src: url("/fonts/digital-7.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}


body {
  font-family: "Varela Round", sans-serif;
}
